.Content__wrapper {
  display: grid;
  justify-content: center;
}

.Content__wrapper__btnWrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.Content__wrapper__btn {
  border: 1px solid #e0dfdc;
  padding: 3px;
}

.Content__wrapper__btn:hover {
  cursor: pointer;
}
