.Home__mtgLogo {
  width: 300px;
  filter: brightness(0.5);
  margin-top: 20px;
}

.FilterForm {
  margin: 20px 10px;
}

.FilterForm__btnSubmit {
  border: 1px solid #e0dfdc;
  padding: 3px;
  margin: 0px 10px;
}

.FilterForm__btnSubmit:hover {
  cursor: pointer;
}
